In [5]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('user2.csv')

savings_goal = 10000

data.fillna('', inplace=True)

data['postDate'] = pd.to_datetime(data['postDate'])
data = data.sort_values(by='postDate')

In [7]:
def minimum_monthly_balance(data, date_column, balance_column):
    """
    Calculate the minimum monthly balance for given dataframe, date and balance column.
    """
    data['year_month'] = data[date_column].dt.to_period('M')

    monthly_minimum = data.groupby('year_month')[balance_column].min().reset_index()
    
    return monthly_minimum


minimum_monthly_balance(data, 'postDate', 'balance')

C:\Users\jense\AppData\Local\Temp\ipykernel_5224\2250120634.py:5: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  data['year_month'] = data[date_column].dt.to_period('M')

   year_month   balance
0     2022-02  15158.56
1     2022-03  10559.30
2     2022-04  10767.56
3     2022-05  10765.56
4     2022-06  10373.56
5     2022-07  10015.56
6     2022-08  11347.85
7     2022-09  84181.28
8     2023-01   2854.71
9     2023-02   8000.09
10    2023-03   8001.10
11    2023-04   8002.11
12    2023-05   9154.30
13    2023-06   7988.11
14    2023-07   7989.52
15    2023-08   7990.56
16    2023-09   2885.71
17    2023-10   2812.71
18    2023-11   2809.71